---
- name: Delete old docker keys
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/apt/keyrings/docker.gpg
    - /etc/apt/sources.list.d/download_docker_com_linux_ubuntu.list

- name: Update cache
  apt:
    update_cache: yes

- name: Install packages
  apt:
    name: "{{ item }}"
    state: present
  loop:
    - curl

- name: Add Docker GPG key
  shell: |
    curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
  args:
    warn: false

- name: Add docker repo
  apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present

- name: Update cache
  apt:
    update_cache: yes

- name: Install docker package
  apt:
    name: "{{ item }}"
    state: present
  loop:
    - docker-ce
    - docker-ce-cli
    - containerd.io
    - docker-buildx-plugin

- name: Start docker service
  service:
    name: docker
    state: started
    enabled: yes

- name: Add user to docker group
  user:
    name: "{{ ansible_user_id }}"
    groups: docker
    append: yes

- name: Change docker.sock permissions
  file:
    path: /var/run/docker.sock
    state: file
    mode: '0666'

- name: Create selenoid networks
  shell: docker network inspect {{ item }} >/dev/null 2>&1 || docker network create {{ item }}
  args:
    warn: false
  loop:
    - selenoid_lat1
    - selenoid_lat2